textarea {
    resize: none;
}

#chat_area{
    margin-top: 1%;
    margin-left: 5%;
}

#send_form{
    margin-top: 1%;
    margin-left: 5%;
}

.box{
    display: inline-block;
    vertical-align: bottom;
}

#chat{
    display: inline-block;
    vertical-align: top;
}

#contact_list{
    display: inline-block;
    vertical-align: top;
}


